In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randn(5, 3), index = list(range(1,6)), columns=list("ABC"))

In [4]:
df

          A         B         C
1  0.200955 -0.814776  1.330340
2 -2.096782 -0.203140  0.375349
3 -0.338566 -0.027056 -0.237898
4  1.913192  0.942746 -0.581517
5 -0.835372  0.118117  0.370938

In [5]:
df[df.B>0]

          A         B         C
4  1.913192  0.942746 -0.581517
5 -0.835372  0.118117  0.370938

In [6]:
df.loc[2:3, "B":"C"]

          B         C
2 -0.203140  0.375349
3 -0.027056 -0.237898

In [8]:
df.loc[2, "B"] = 1

In [9]:
df

          A         B         C
1  0.200955 -0.814776  1.330340
2 -2.096782  1.000000  0.375349
3 -0.338566 -0.027056 -0.237898
4  1.913192  0.942746 -0.581517
5 -0.835372  0.118117  0.370938

In [10]:
df.loc[df.B>0, "C"] = 0

In [11]:
df

          A         B         C
1  0.200955 -0.814776  1.330340
2 -2.096782  1.000000  0.000000
3 -0.338566 -0.027056 -0.237898
4  1.913192  0.942746  0.000000
5 -0.835372  0.118117  0.000000